{% extends 'base.html' %}
{% block head %}
{{ super() }}
{% endblock %}

{% block page_name %}about{% endblock %}
{% block content %}
<div class="container py-4">
    <h1 class="page-header" role="heading" aria-level="1">About</h1>
    <p>
        The ISB Cancer Gateway in the Cloud (ISB-CGC) is a platform that serves as a large-scale reposiy and provides
        the computational infrastructure necessary to carry out cancer research at unprecedented scales.
    </p>


    <h2>Release Notes</h2>
    <div>
        <div>Current version: <span class="fw-bold">v 2.3</span></div>
        <div>
        Please view our <a target="_blank" rel="noreferrer"
                    href="https://isb-cancer-genomics-cloud.readthedocs.io/en/latest/sections/ReleaseNotes/BigQueryTableSearchReleaseNotes.html">Release
        Notes</a> in our ISB-CGC BigQuery Documentation.
        </div>
    </div>

    <h2>Partners</h2>
    <div>
        <img class="me-2" src="{{ url_for('static', filename='img/gcp-logo.svg') }}"
             width="200px"
             alt="ISB-CGC logo">
        <img class="me-2" src="{{ url_for('static', filename='img/gdit_logo.png') }}"
             width="260px"
             alt="ISB-CGC logo">

    </div>

    <h2>How to Cite Us</h2>
    <p>
        Please cite the original ISB-CGC paper when you use the ISB-CGC platform.
    </p>
    <div class="p-2 mx-2 bg-light rounded-3">
        Sheila M. Reynolds, Michael Miller, Phyliss Lee, et al.<br>
        The ISB Cancer Genomics Cloud: A Flexible Cloud-Based Platform for Cancer Genomics Research<br>
        <a href="http://cancerres.aacrjournals.org/content/77/21/e7.long" target="_blank" rel="noreferrer"><i>Cancer
            Res</i> 2017 Nov;77(21): e7–10.</a>
    </div>

    <h2>Funding</h2>
    <p>
        ISB-CGC is a component of the <a href="https://datacommons.cancer.gov/" target="_blank" rel="noreferrer"
                                         class="sr-set">NCI
        Cancer Research Data Commons<span class="sr-only"> opens a new tab</span></a> and has been funded in whole or in
        part with Federal funds from the National Cancer Institute, National Institutes of Health, Department of Health
        and Human Services, under Contract No. HHSN261201400008C and ID/IQ Agreement No. 17X146 under Contract No.
        HHSN261201500003I. The content of this publication does not necessarily reflect the views or policies of the
        Department of Health and Human Services, nor does mention of trade names, commercial products, or organizations
        imply endorsement by the U.S. Government.
    </p>

    <h2>Warning Notice</h2>
    <p>
        You are accessing a U.S. Government (National Institute of Health (NIH), National Cancer Institute (NCI) and
        Institute for Systems Biology ISB) website / application which may contain information that must be protected
        under the U. S. Privacy Act or other sensitive information which is intended for authorized Scientific or
        Research use only. Network activity and Application usage is monitored to maintain system security,
        availability, and to ensure appropriate and legitimate usage, there is no right or expectation to privacy on
        this website / system. Unauthorized attempts to upload information, change information, or use of this website
        for other than its intended purpose may result in disciplinary action, civil, and/or criminal penalties. Any
        individual or system that accesses this website should have no expectation of privacy regarding any
        communications or data processed by this website. Anyone accessing this website expressly consents to monitoring
        of their actions and all communication or data transiting or stored on or related to this website and is advised
        that if such monitoring reveals possible evidence of criminal activity, NIH may provide that evidence to law
        enforcement officials.
    </p>
</div>

{% endblock %}